<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Person List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th>Hobby</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons | async">
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.age}}</td>
          <td *ngFor="let hob of hobby | async">
            {{hobby.hob}}
          </td>
          <td><button (click)="deletePerson(person.id)" class="btn btn-danger">Delete</button>
            <button (click)="personDetails(person.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            <button (click)="updatePerson(person.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>