<nav class="navbar-light navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="persons" class="nav-link" routerLinkActive="active">Person List</a>
    </li>
    <li>
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Person</a>
    </li>
  </ul>
</nav>
<div class="container scrollClass">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <b>All Rights Reserved 2020 @EMBL-EBI</b>
  </div>
</footer>


